html {
	font-size: 10px; /*px means 'pixels': the base font size; */
	font-family: 'Roboto', sans-serif;
	background-color: #white;
}

body {
	width: 500px;
	margin: 15% auto;
	background-color: white;
	padding: 0 0 0 0;
	/*border: 1px solid black;*/
}

h1 {
	font-size: 60px;
	text-align: center;
	/* color: white; */
}

/* 2nd styling for the heading */
h1 {
	margin: 0;
	padding: 20px 0;
	color: black;
	text-shadow: 1px 1px 1px #8fa1b3;
}

h2 {
	font-size: 30px;
	text-align: center;
	color: #8fa1b3;
}

p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: center;
	color: black;
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}
.name {
	font-size: 20px;
}

nav {

}

/*!-- STYLING LINKS --> */

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
	color: #265301;
}

a:visited {
	color: #437A16;
}

a:focus {
	color: #437A16;
}

a:hover {
	color: red;
}

a:active {

}