html {
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: gray;
    margin: 23% auto;
    background-image: url(../DSC_3453.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
}

p {
    font-size: 1em;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
}

.name {
	font-size: 23px;
}

.about-me {
	font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
}

.social_media {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.twitter,.github,.instagram,.linkedin{
	font-size: 14px;
}

/* links */
a {
    outline: none;
    text-decoration: none;
}
a:hover, a:focus, a:visited, a:link{
    color: white;
}
a:hover {
    color: cyan;
}

/* styling lists*/

ul {
    text-align: center;
    padding-left: 0px;
}
 
 li {
    list-style: none;
    padding: 0% 5% 0% 5%;
 }