html {
	font-size: 10px; /*px means 'pixels': the base font size; */
	font-family: 'Roboto', sans-serif;
	background-color: #4039A7;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	font-size: 60px;
	text-align: center;
	/* color: white; */
}

/* 2nd styling for the heading */
h1 {
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black;
}

h2 {
	font-size: 30px;
	text-align: center;
	color: white;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	text-align: center;
	color: white;
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

.notice {
	font-size: 9px;
}