* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.8;
    letter-spacing: 1px;
    color: white;

    background-color: black;
    background-image: url(../images/DSC_3453.jpg);
    background-position: top;
    background-repeat: no-repeat;
    
}

.container {
    margin: 0 auto 0 auto;
}

.header-box {
    text-align: center;
    margin-top: 15em;
    background-color: rgba(66, 65, 65, 0.301);
    width: 30.6em;
}

.about-me {
    font-size: 1.2em;
    font-weight: 400;
}

.name {
    font-size: 1.2em;
    font-weight: 800;
}

li {
    list-style: none;
}

.twitter, .github, .instagram, .linkedin {
    display: inline-block;
    padding: 0% 4% 0% 4%;
    font-size: .8em;
}

a{
    outline: none;
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: white;
}

a:hover {
    color: cyan;
}

@media (max-width: 488px) { 
    .about-me {
        font-size: 1em;
    }

    .header-box{
        width: 100%;
    }
}

@media (max-width: 415px) { 
    .about-me {
        font-size: .9em;      
    }
}

@media (max-width: 378px) { 
    .about-me {
        font-size: .85em;      
    }
}

@media (max-width: 360px) { 
    .about-me {
        font-size: .8em;      
    }
}
